.row
  .col-md-4.col-md-offset-4
    - if @average_review == 4
      = image_tag('very_happy.jpg')
    - elsif @average_review == 3
      = image_tag('happy.jpg')
    - elsif @average_review == 2
      = image_tag('sad.jpg')
    - else
      = image_tag('very_sad.jpg')
%hr
.row
  - if @voted
    .col-md-4.col-md-offset-4
      Thanks for voting :)
  - else
    .col-md-3
      = form_for @review do |f|
        = f.hidden_field :rating, value: 4
        = f.submit :class => 'very_happy', value: ''
    .col-md-3
      = form_for @review do |f|
        = f.hidden_field :rating, value: 3
        = f.submit :class => 'happy', value: ''
    .col-md-3
      = form_for @review do |f|
        = f.hidden_field :rating, value: 2
        = f.submit :class => 'sad', value: ''
    .col-md-3
      = form_for @review do |f|
        = f.hidden_field :rating, value: 1
        = f.submit :class => 'very_sad', value: ''
